name: bowser-env
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - pip>=21.3  # https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/#editable-installation
  - earthaccess
  - fastapi
  - pydantic>=2.1
  - pydantic-settings
  - pyproj>=3.3
  - matplotlib-base
  - numpy>=1.22
  - rasterio>=1.3
  - gdal>=3.7
  - libgdal-netcdf
  - libgdal-hdf5
  - opera-utils
  - titiler-core
  - tqdm
  - typing_extensions>=3.10
  - uvicorn
  # # Optional for reading from S3:
  - s5cmd
  - boto3
  - pip:
    - titiler.xarray[minimal,http]
